body {
    margin: 0;
}


.mainImgContainer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 6px;
}

.imgBox {
    display: flex;
    height: 250px;
    flex-grow: 1;
    margin: 2px;
}
   
.imgBox img {
    height: 100%;
    flex-grow: 1;
    object-fit: cover;
    border-radius: 12px;
}

.img {
     -webkit-filter: invert(100%);
     filter: invert(100%);
     padding: 16px;
     margin: 0 22px;
     border-radius: 12px;
}

.img:hover {
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 100%;
}

.popUpImg {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.popUpImg img {
    border-radius: 12px;
}

.increaseImg {
    background-color: black;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px;
    margin: 0 !important; 
}

.hideArrow {
    z-index: 1;
    opacity: 0;
}


@media screen and (max-width: 800px) {
    .imgBox {
        display: flex;
        height: 200px;
        flex-grow: 1;
        margin: 2px;
    }

}

@media screen and (max-width: 630px) {
    .imgBox {
        display: flex;
        height: 150px;
        flex-grow: 1;
        margin: 2px;
    }
}

@media screen and (max-width: 490px) {
    .imgBox {
        display: flex;
        height: 125px;
        flex-grow: 1;
        margin: 2px;
    }
}

@media screen and (max-width: 420px) {
    .imgBox {
        display: flex;
        height: 110px;
        flex-grow: 1;
        margin: 2px;
    }
}

@media screen and (max-width: 350px) {
    .imgBox {
        display: flex;
        height: 100px;
        flex-grow: 1;
        margin: 2px;
    }
}